@font-face {
    font-family: "Josefin Sans", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;

}

/* Menú */

.header__a--img {

    display: flex;
    font-size: 3px;
    position: relative;
    margin: 1 auto;
}

.header__top {

    display: flex;
    font-size: 8px;
    margin: 30px 30px;
    align-items: center;
    justify-content: space-between;

}


.header__a--nav {

    list-style: none;
    text-decoration: none;
    color: gray;
    
}

.header__a--nav--black {

    text-decoration: none;
    list-style: none;
    color: black;

}

.header__nav {

    justify-content: center;
    margin-right:80px ;

}

.header__ul{

    word-spacing: 35px;
}

.header__li {

    vertical-align: top;
    display: inline;
    font-size: 1.2em;
    padding: 0.5em;
    justify-content: center;
    letter-spacing: 3px;
    
}

.header__icon{

    display: flex;
    font-size: 18px;
    
}


/* Imagenes*/


.galeria {
    /*GRID*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);



}

.galeria-img {
    width: 100%;
    height: 100%;
    border-left: 8px solid transparent;
    background-color: white;
    border-top: 8px solid transparent;
    background-color: white;


}

.galeria-img--2f {

    grid-row: span 2;


}

.galeria-img--2c {

    grid-column: span 2;


}

.galeria-img--4 {
    grid-row: span 2;
    grid-column: span 2;


}


/*Footer*/

.footer {
    font-size: 100%;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    background-color: white;
    margin: 88px 0 20px 0;
    color: gray;
}

.footer__text {
    margin: 20px;
}

.footer__links {

    display: block;
    color: black;
    padding-top: 30px;
    font-size: 18px;
    letter-spacing: 15px;
    margin-top: 20px;

}

.footer__rights {

    margin-top: 80px;
    padding: 20px;
}